header a{
    display: flex;
    flex: 1;
    justify-content: center;
}

aside a {
    display: flex;
    flex: 1;
    justify-content: center;
}

.head-img {
    height: 200px;
}

.head-img img {
    height: 100%;
    width: 100%;
}

.elem {
    border: 1px solid orangered;
}

h3 {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;

}